@* 
@model YourNamespace.YourViewModel 
*@
@{
    ViewBag.Title = "Home"; // Optionally set the page title
}

<head>
    <title>Nags With Notions</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<div class="hero-container">
    <div id="hero" class="jumbotron jumbotron-fluid">
        <div id="hero-text" class="container">
            <h6 class="display-4">Nags With Notions</h6>
            <h1 class="lead">Sourdough Pizza using some of Meath's Finest Food Producers</h1>

            <!-- Upcoming Event Banner inside the jumbotron -->
            @* Commented out the model-related code for now *@
            @* 
            {% if upcoming_event %}
                <div class="event-banner">
                    {% if upcoming_event.image %}
                        <img src="{{ upcoming_event.image.url }}" alt="{{ upcoming_event.name }}">
                    {% else %}
                        <img src="{% static 'images/default-event.jpg' %}" alt="Default Event Image">
                    {% endif %}
                    <div class="event-details">
                        <strong>Upcoming Event:</strong>
                        <a href="{% url 'event_detail' upcoming_event.id %}">{{ upcoming_event.name }}</a>
                        <p>{{ upcoming_event.start_date|date:"F j, Y" }}</p>
                    </div>
                </div>
            {% endif %}
            *@
        </div>
    </div>
</div>
<!-- /.Hero Image End -->

<!-- Instagram Posts -->
{% include 'insta/instagram_home.html' %}

<!-- Contact Form -->
<div class="container mt-5">
    {% include "contact.html" %}
</div>

<!-- About Section -->
{% include "about.html" %}

<!-- Menu Card Section -->
{% include "pizza_system/menu_card.html" %}
