@* _MenuCard.cshtml *@
@{
    Layout = null; // Remove if you want to use a layout page for this partial
}

<div class="container my-5" style="background-color: #ffc0cb; padding: 2rem;">
    <div class="container-fluid" style="background-color: #ffffff; padding: 2rem;">
        <!-- Display a single image -->
        <div class="text-center">
            <img src="~/images/menu.jpg" class="img-fluid" alt="Menu" />
        </div>
    </div>
</div>
