@{
    ViewBag.Title = "Nags With Notions";
    var homeUrl = Url.Action("Index", "Home");
    var eventsUrl = Url.Action("Index", "Events");
    var loginUrl = Url.Action("Login", "Account");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A site to book a pizza horsebox for events">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body class="d-flex flex-column h-100 main-bg">
    <!-- Navbar -->
    @Html.Partial("_Header")

    <div class="flex-shrink-0 main-bg position-relative">
        <!-- Display flash messages if any -->
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-info">
                @TempData["Message"]
            </div>
        }

        <!-- Content Block -->
        @RenderBody()  <!-- This will inject the content of each individual view -->
    </div>

    <!-- Footer -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ba48ac2667.js" crossorigin="anonymous"></script>
</body>
</html>
